body {
    background-color: rgb(58, 58, 58);
    color: white;
}

.circle-bar {
    font-size: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: #333;
}

.circle-bar-left,
.circle-bar-right {
    width: 40px;
    height: 40px;
    background-color: #eee;
}

.circle-bar-right {
    margin: 0;
    clip: rect(0, auto, auto, 20px);
}

.circle-bar-left {
    margin: 0;
    clip: rect(0, 20px, auto, 0);
}

.mask {
    width: 30px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    line-height: 0.2em;
    color: rgba(0, 0, 0, 0.5);
}

.mask :first-child {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    display: block;
}

.circle-bar * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.circle-bar,
.circle-bar > * {
    border-radius: 50%;
}

.dropHover {
    padding: 4px;
    background-color: #04aa6d;
    margin: 0;
}

.dropdown {
    width: 100px;
    position: relative;
    display: inline-block;
}

.dropdownContent {
    /* margin: 0px 20px; */
    z-index: 1;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 15px;
    margin-left: -15px;
    width: 100px;
}

.dropdownContent p {
    margin-top: 5px;
    margin-bottom: 0;
    display: block;
    padding: 5px;
    background-color: rgb(58, 58, 58);
}

.dropdownContent p:hover {
    background-color: rgb(102, 101, 101);
}

.dropdown:hover .dropdownContent {
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropHover {
    background-color: #3e8e41;
}

.dropdownContent :not(.chosen) {
    background-color: rgb(189, 188, 188);
}

/*  */
.flex {
    display: flex;
}

/*  */
.sets .filter {
    flex-direction: column;
    align-items: center;
}

.sets {
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

.sets > * {
    margin-left: 10px;
}

.output {
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.output > div {
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    margin-left: 5px;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom-style: solid;
}

#search {
    height: 20px;
}
